/* Default colors */
:root {
    --text-color: hsl(200, 15%, 8%);
    --bg-color: hsl(0, 0%, 98%); /* Light Gray */
    --elements-color: hsl(0, 0%, 100%); /* White */
    --input-color: hsl(0, 0%, 100%);
    --font-size: 1em;
    --max-width: 1440px;
}

/* Dark theme colors */
:root.dark-theme {
    --elements-color: hsl(209, 23%, 22%); /* Dark Blue Elements*/
    --bg-color: hsl(207, 26%, 17%); /* Very Dark Blue Bg*/
    --text-color: hsl(0, 0%, 100%); /* White */
    --input-color: hsl(209, 23%, 22%); /*Dark Gray*/
}

/* Styles for users who prefer dark mode at the OS level */
@media (prefers-color-scheme: dark) {
    /* defaults to dark theme */
    :root {
        --elements-color: hsl(209, 23%, 22%); /* Dark Blue Elements*/
        --bg-color: hsl(207, 26%, 17%); /* Very Dark Blue Bg*/
        --text-color: hsl(0, 0%, 100%); /* White */
        --input-color: hsl(209, 23%, 22%); /*Dark Gray*/
    }

    /* Override dark mode with light mode styles if the user decides to swap */
    :root.light-theme {
        --text-color: hsl(200, 15%, 8%);
        --bg-color: hsl(0, 0%, 98%); /* Light Gray */
        --elements-color: hsl(0, 0%, 100%); /* White */
        --input-color: hsl(0, 0%, 100%);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    line-height: 1.4;
    font-family: 'Nunito Sans', sans-serif;
    font-size: var(--font-size);
    color: var(--text-color);
    background-color: var(--bg-color);
}

html.video-details-open {
    overflow: hidden;
}

/*Header*/
.header {
    padding: 10px 20px;
    background-color: var(--elements-color);
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
}

.header > .wrapper {
    max-width: var(--max-width);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header > .wrapper > .theme-btn {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    color: var(--text-color);
    font-weight: 400;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}

.header > .wrapper > .theme-btn::before {
    content: '\f186';
    font-family: "Font Awesome 5 Free";
    margin-right: 10px;
    color: var(--text-color);
}

@media only screen and (max-width: 750px) {
    .header > .wrapper > h2 {
        font-size: 16px;
    }
}


/* Main */
.main {
    width: 100%;
    padding: 20px;
    position: relative;
}

.main > .wrapper {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.main > .wrapper > .filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0;
}

@media only screen and (max-width: 750px) {
    .main > .wrapper > .filters {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .search-input {
        margin-bottom: 70px;
    }
}

/*Search Input*/
.search-input {
    position: relative;
    width: 100%;
    max-width: 480px;
}

.search-input > .icon {
    position: absolute;
    top: 36%;
    left: 6%;
    font-size: 22px;
    transform: translate(-36%, -6%);
    color: var(--text-color);
}

.search-input > input {
    background-color: var(--input-color);
    border: none;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 1%;
    padding: 10px 20px 10px 60px;
    height: 58px;
    display: block;
    width: 100%;
    font-size: 18px;
    color: var(--text-color);
}

/*Select*/
/* The container must be positioned relative: */
.custom-select {
    position: relative;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--elements-color);
    width: 200px;
}

.custom-select select {
    display: none; /*hide original SELECT element: */
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: " ";
    top: 26px;
    right: 15px;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: var(--text-color) transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent var(--text-color) transparent;
    top: 17px;
}

/* style the items (options), including the selected item: */
.select-items div, .select-selected {
    color: var(--text-color);
    padding: 17px 16px;
    border: none;
    cursor: pointer;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: var(--elements-color);;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.countries-grid {
    display: grid;
    grid-gap: 75px;
    gap: 75px;
    margin-top: 48px;
    margin-bottom: 48px;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-template-rows: auto;
}

.countries-grid > .country-card {
    border-radius: 5px;
    color: var(--text-color);
    box-shadow: 0 0 26px 0 rgba(0, 0, 0, .37);
    transition: transform .2s ease-in, filter .2s ease-in, box-shadow .3s ease-in;
    cursor: pointer;
    background-color: var(--bg-color);
}

.countries-grid > .country-card:hover {
    filter: brightness(1.2);
    transform: scale(1.02);
    box-shadow: 0 0 46px 0 rgba(0, 0, 0, .37);
}

.countries-grid > .country-card > img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    pointer-events: none;
}

.countries-grid > .country-card > .content {
    padding: 25px;
    color: var(--text-color);
    background-color: var(--bg-color);
    pointer-events: none;
}

.country-details {
    background-color: var(--bg-color);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
}

.country-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: var(--max-width);
    width: 100%;
}

.back-btn {
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: 5px;
    margin: 80px 0;
    padding: 15px 30px;
    display: inline-block;
    box-shadow: 0 0 46px 0 rgba(0, 0, 0, .37);
    transition: all .2s ease-in;
    border: 0;
    max-width: 120px;
    position: relative;
}

.back-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .37);
    background: var(--bg-color);
}

.video-details-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.video-details-wrapper > .content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-evenly;
}

.video-details-wrapper > img {
    max-width: 560px;
    height: auto;
    box-shadow: 0 0 46px 0 rgba(0, 0, 0, .37);
}

.borders {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.borders > .border {
    margin: 0 10px;
    background-color: var(--bg-color);
    padding: 10px;
    box-shadow: 0 0 46px 0 rgba(0, 0, 0, .37);
}

.country-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.country-info > .info-lhs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.country-info > .info-rhs {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 750px) {
    .video-details-wrapper {
        flex-direction: column;
    }
}

/*# sourceMappingURL=/main.c52e0fe2.css.map */